body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #55bbff;
}

.search-box{
    margin: 25% 0 0 25%;
    text-align: center;
    width: 50%;
    position: relative;
}

.input-search{
    height: 100px;
    width: 100px;
    border-style: none;
    padding-left: 50px;
    font-size: 50px;
    letter-spacing: 2px;
    outline: none;
    transition: all .5s ease-in-out;
    color: rgb(253, 52, 16);
    border-radius: 25px;
}